<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.martini.sparrow.mapper.ArticleMapper">
    <select id="findAll" resultType="Article">
        select *
        from t_article
    </select>
    <insert id="insertOne" parameterType="Article" useGeneratedKeys="true" keyProperty="id">
        insert into t_article (book_id, user_id, publish_time, update_time, title, content, like_count, favorite_count,
                               comment_count, read_count, status, picUrl)
        values (#{bookId}, #{userId}, #{publishTime}, #{updateTime}, #{title}, #{content}, #{likeCount}, #{favoriteCount}, #{commentCount}, #{readCount}, #{status}, #{picUrl});
    </insert>
    <select id="findById" resultType="Article">
        select *
        from t_article where id = #{id};
    </select>
    <update id="updateById">
        update t_article
        <set>
            <if test="article.status != null">
                status = #{article.status},
            </if>
            id = #{id}
        </set>
        where id = #{id};
    </update>
    <select id="count" parameterType="int" resultType="int">
        select count(id)
        from t_article;
    </select>
    <select id="approvedCount" resultType="int" parameterType="int">
        select count(id)
        from t_article where status = 0;
    </select>
    <!-- 最好是加个if判断要不要倒序 -->
    <select id="findLimit" resultType="Article">
        select *
        from t_article
        order by publish_time desc
        limit #{startIndex}, #{size}
    </select>
    <select id="findByUserId" resultType="Article">
        select *
        from t_article where user_id = #{uid};
    </select>
    <update id="cancelLikeArticle">
        update t_article set like_count = like_count - 1 where id = #{aid}
    </update>
    <update id="likeArticle">
        update t_article set like_count = like_count + 1 where id = #{aid}
    </update>
    <update id="addReadCount">
        update t_article set read_count = read_count + #{number} where id = #{id}
    </update>
    <update id="addCommentCount">
        update t_article set comment_count = comment_count + 1 where id = #{id}
    </update>
</mapper>