<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.martini.sparrow.mapper.FeedbackMapper">
    <select id="findAll" resultType="Feedback">
        select *
        from t_feedback;
    </select>
    <insert id="postOne" parameterType="Feedback">
        insert into t_feedback (uid, title, content, datetime)
        values (#{uid}, #{title}, #{content}, #{datetime});
    </insert>
</mapper>